In [1]:
import re
txt="do as i say not as i do"
res=re.search('do',txt)
print(res.group())

do

In [2]:
re.split(r'\s',txt)

['do', 'as', 'i', 'say', 'not', 'as', 'i', 'do']

In [3]:
re.sub(r'\s','_',txt)

'do_as_i_say_not_as_i_do'

In [4]:
re.sub(r'\s','_',txt,5)

'do_as_i_say_not_as i do'

In [5]:
txt="They ate 5 apples and 5 oranges"
re.sub(r'5','five',txt)

'They ate five apples and five oranges'

In [6]:
re.sub(r'5','five',txt,1)

'They ate five apples and 5 oranges'

In [7]:
items=['goal','new','user','sit','eat','dinner']
for i in items:
    ans=re.search(r'e',i)
    if ans:
        pass
    else:
        print(i)

goal
sit

In [8]:
name='Jai'
ans=re.search(r'[a-zA-Z]',name)#first occurences
ans2=re.search(r'[a-zA-Z]+',name)
ans.group()

'J'

In [9]:
ans2.group()

'Jai'

In [10]:
name="jai,john,jacob,4342&42"
result=re.split(r',',name)
for i in result:
    if re.search(r'[a-zA-Z]+',i):
        print(i)#filtering valid names

jai
john
jacob

In [11]:
num="1234,123,234,567,4567"
result=re.split(',',num)
for i in result:
    ans=re.search(r'\b[0-9]{3}\b',i)
    if ans:
        print(i)

123
234
567

In [12]:
list=['CSE','GEUCSE','AI','GEUAI','ML']
for i in list:
    res=re.search(r'^[GEU][a-zA-Z]*',i,flags=re.I)#filter value that begins with geu
    #flags=re.I ignore cases
    if res:
        print(res.group())

GEUCSE
GEUAI

In [13]:
#value that ends with 2023
branch=['cse2023geu','cse','AI','AI2023']
for i in branch:
    ans=re.search(r'2023$',i)#words ending with 2023
    #re.search(r'[a-zA-Z]+2023$',i)
    if ans:
        print(i)

AI2023

In [14]:
#code to identify the strings starting with geu and ends with 2023
list=['geucse2023','202331geu','geupython2023']
for i in list:
    res=re.search(r'^[geu]+[a-zA-Z]+2023$',i)
    if res:
        print(i)

geucse2023
geupython2023

In [15]:
#write a regular expression to identify alphanumerics
list=['abc','12ab','123']
for i in list:
    res=re.search(r'[a-zA-Z0-9][a-zA-Z0-9]*',i)#re.search(r'\w+',i) small w for alpha numeric
    if res:
        print(res.group())

abc
12ab
123

In [16]:
#write a regex to match special character
#ANS:re.search(r'\W+',i)
#write a regext to filter the date
txt='Today is 17-10-2023'
txt=re.split(' ',txt)
for i in txt:
    res=re.search(r'[0-9]{1,2}-[0-9]{1,2}-[0-9]{4}',i)
    if res:
        print(i)

17-10-2023

In [17]:
#for the given input string display all lines not conataining start irrespective of case
#write a program to extract email

In [31]:
txt = 'this is my email jaiyadav@gmail.com'
txt = re.split(' ',txt)  # Use split() instead of re.split() since you're splitting on spaces.
for i in txt:
    ans = re.search(r'\w+@[a-zA-Z.]+', i)
    if ans:
        print(ans.group())

jaiyadav@gmail.com

In [33]:
text = "The red car and the bred sweater are both red."
updated_text = re.sub(r'\bred\b', 'brown', text)
print(updated_text)

The brown car and the bred sweater are both brown.

In [2]:
words = ['hi42bye', 'nice1423', 'bad42', 'cool_42a', '42fake', '_42_']
filtered_words = [word for word in words if re.search(r'\b\w*42\w*\b', word)]
print(filtered_words)

['hi42bye', 'nice1423', 'bad42', 'cool_42a', '42fake', '_42_']